
.env

**/.idea
*arhive
**/node_modules
**/test.js





1.1. Основы синтаксиса/
1.3_ООП_и_функции/
1.4. Обработка ошибок, замыкания и асинхронность/


**/gulp-*

# !**/gulp-auth/src
!**/gulp-auth


**/index.html 

**/map
!./client-state/*/*.map
**/popup/client-state

