.gitignore
.env

**/.idea
*arhive
node_modules/
**/test.js

**/package-lock.json/
**/package.json
**/.git

1.1. Основы синтаксиса/
1.3_ООП_и_функции/
1.4. Обработка ошибок, замыкания и асинхронность/
**/package-lock.json
/gulp-*
**/index.html 

**/map
**/popup/client-state