.gitignore
.env

**/.idea
*arhive
node_modules/
**/test.js

**/package-lock.json/
**/package.json
**/.git

1.1. Основы синтаксиса/
1.2. Операторы цикла, функции и объекты/
1.3_ООП_и_функции/
3. Прототипы, ООП и функции высшего порядка/
1.4. Обработка ошибок, замыкания и асинхронность/

2.1_JS_in_browser/
**/package-lock.json